$mobile: 480px;

.container {
    padding: 15px 15px;
    max-width: 1200px;
    margin: auto;

    @media screen and(max-width:$mobile) {
    width: 90%;
    }
}
h1 {
    text-align: center;
}
.word {
    width: 48%;
    display: inline-block;

    @media screen and(max-width:$mobile) {
    width: 100%;
    display: block;
    }

    p {
        font-size: 30px;

        @media screen and(max-width:$mobile) {
        text-align: center;
        }
    }
}
.translation {
    width: 48%;
    display: inline-block;

    @media screen and(max-width:$mobile) {
        width: 100%;
        display: block;
    }

    p {
        font-size: 30px;
        @media screen and(max-width:$mobile) {
        text-align: center;
        }
    }
}
#change-text {
    margin-top: 10px;
    line-height: 38px;
    display: inline-block;
    text-align: left;
    width: 50%;
    @media screen and(max-width:$mobile) {
        width: 100%;
        display: block;
        text-align: center;
        }
}
#change-button {
    margin-top: 10px;
    display: inline-block;
    float: right;
    vertical-align: middle;

    @media screen and(max-width:$mobile) {
        width: 100%;
        display: block;
        float: none;
        text-align: center;
        }
    button {
        font-size: 24px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }

}
.training-side {
    margin-top: 20px;
    @media screen and(max-width:$mobile) {
        margin-top: 120px;
        }
}